.note_tag{
    padding: 5px 20px 5px 5px;
    font-size: small;
    background-color: #C5FF95;
    font-weight: 700;
    color: #000;
    clip-path: polygon(80% 0%, 100% 50%, 80% 100%, 0% 100%, 0 53%, 0% 0%);
}